<nav class="navbar-space-style navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo-menu.svg" width="175" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-lg-around" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link active active-link" (click)="gotoSuperAdminClassrooms()" style="cursor:pointer;" routerLinkActive="active-link">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                    </svg> Classrooms
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="gotoSuperAdminStudentActivities()" style="cursor:pointer;" routerLinkActive="active-link">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm4.354 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    </svg> Student Activities
                </a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <a class="nav-link" (click)="gotoSignIn()" style="cursor:pointer;">
                Administrator
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
        </div>
    </div>
</nav>

<body>
    <div class="jumbotron classes-jumbotron">
        <div class="container">
            <div class="row items-jumbotron-row-styles">
                <div class="col-sm">
                    <div class="dropdown mr-1 d-flex">
                        <button type="button" class="btn btn-light dropdown-toggle block-size-style" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                        Class level
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="dropdown mr-1 d-flex">
                        <button type="button" class="btn btn-light dropdown-toggle block-size-style" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                        Classroom
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm btn-color-end-div">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary right btn-add-class" data-toggle="modal" data-target="#staticBackdrop">
                        Add new class
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog ">
                            <div class="modal-content ">
                                <div class="modal-header ">
                                    <h5 class="modal-title " id="staticBackdropLabel ">Add new class</h5>
                                </div>
                                <div class="modal-body ">
                                    <form>
                                        <div class="input-group mb-3 ">
                                            <div class="input-group-prepend ">
                                                <button class="btn btn-outline-secondary dropdown-toggle " type="button " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">Class level</button>
                                                <div class="dropdown-menu ">
                                                    <a class="dropdown-item " href="# ">Action</a>
                                                    <a class="dropdown-item " href="# ">Another action</a>
                                                    <a class="dropdown-item " href="# ">Something else here</a>
                                                    <div role="separator " class="dropdown-divider "></div>
                                                    <a class="dropdown-item " href="# ">Separated link</a>
                                                </div>
                                            </div>
                                            <input type="text " aria-label="First name " class="form-control " placeholder="Classroom ">
                                        </div>
                                        <div class="form-group">
                                            <input type="text " formControlName="fullname " class="form-control input-lineal " placeholder="Teacher full name " />
                                            <div class="invalid-feedback ">
                                                <div>Username is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text " formControlName="username " class="form-control input-lineal " placeholder="Teacher email " />
                                            <div class="invalid-feedback ">
                                                <div>Username is required</div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer modal-delete-student">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary btn-modal-color">Add new class</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container ">
        <div class="tab-content " id="myTabContent ">
            <div class="tab-pane fade show active " id="compara " role="tabpanel " aria-labelledby="compara-tab ">
                <div class="table-responsive ">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th scope="col ">Class level</th>
                                <th scope="col ">Classroom</th>
                                <th scope="col ">Number of students</th>
                                <th scope="col ">Teacher name</th>
                                <th scope="col ">Teacher email</th>
                                <th scope="col "></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom ">
                                    <a class="a-view " (click)="gotoSuperAdminViewClass()" style="cursor:pointer;">view</a>
                                    <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-arrow-right-short " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                        <path fill-rule="evenodd " d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z "/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom ">
                                    <a class="a-view " (click)="gotoSuperAdminViewClass()" style="cursor:pointer;">view</a>
                                    <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-arrow-right-short " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                        <path fill-rule="evenodd " d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z "/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom ">
                                    <a class="a-view " (click)="gotoSuperAdminViewClass()" style="cursor:pointer;">view</a>
                                    <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-arrow-right-short " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                        <path fill-rule="evenodd " d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z "/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom ">
                                    <a class="a-view " (click)="gotoSuperAdminViewClass()" style="cursor:pointer;">view</a>
                                    <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-arrow-right-short " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                        <path fill-rule="evenodd " d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z "/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom ">
                                    <a class="a-view " (click)="gotoSuperAdminViewClass()" style="cursor:pointer;">view</a>
                                    <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-arrow-right-short " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                        <path fill-rule="evenodd " d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z "/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom ">
                                    <a class="a-view " (click)="gotoSuperAdminViewClass()" style="cursor:pointer;">view</a>
                                    <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-arrow-right-short " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                        <path fill-rule="evenodd " d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z "/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom ">
                                    <a class="a-view " (click)="gotoSuperAdminViewClass()" style="cursor:pointer;">view</a>
                                    <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-arrow-right-short " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                        <path fill-rule="evenodd " d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z "/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom ">
                                    <a class="a-view " (click)="gotoSuperAdminViewClass()" style="cursor:pointer;">view</a>
                                    <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-arrow-right-short " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                        <path fill-rule="evenodd " d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z "/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom ">
                                    <a class="a-view " (click)="gotoSuperAdminViewClass()" style="cursor:pointer;">view</a>
                                    <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-arrow-right-short " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                        <path fill-rule="evenodd " d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z "/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom ">
                                    <a class="a-view " (click)="gotoSuperAdminViewClass()" style="cursor:pointer;">view</a>
                                    <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-arrow-right-short " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                        <path fill-rule="evenodd " d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z "/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom ">
                                    <a class="a-view " (click)="gotoSuperAdminViewClass()" style="cursor:pointer;">view</a>
                                    <svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-arrow-right-short " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                        <path fill-rule="evenodd " d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z "/>
                                    </svg>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>