$white: #ffffff;
$Accent-blue: #175FFf;
$Accent-fiolet: #F6A521;
$gris: #f1f1f1;
$Logo-gradient: linear-gradient(226.27deg, #EAA675 0%, #EA7D75 100%);
html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: $gris;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

//navbar *************************************************************
.navbar-space-style {
    display: flex;
}

.active-link {
    border-top: blanchedalmond;
    border-top: 4px solid;
}

div#navbarNavAltMarkup.collapse.navbar-collapese {
    align-items: center;
    justify-items: center;
}

a.nav-link {
    text-decoration: none;
    color: $white;
}

// jumbotron classes *************************************************
div.jumbotron.classes-jumbotron {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 0 5px 0;
    margin: 0 40px 0 40px;
}

.items-jumbotron-row-styles {
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}

.justify-content-jumbotron-date {
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    margin: 0 0 0 0;
}

.block-size-style {
    box-sizing: content-box;
    width: 100%;
}

.tabla-jumbotron-class {
    width: fit-content;
}

a.a-jumbotron {
    text-decoration: none;
    color: black;
}

.form-line-bottom {
    border-bottom: #000000 solid 1px;
    border-radius: 1PX;
    object-position: left;
}

.input-styles-search {
    border: none;
}

.btn-jumbotron-import {
    background-color: #34A853;
    border: none;
}

// modal *************************************************************
.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-modal-color {
    background-color: $Accent-fiolet;
    border: none;
}

.btn-color-end-div {
    display: flex;
    justify-content: flex-end;
}

.btn-add-class {
    background-color: #f6a521;
    border: none;
}

// tabla clases ***********************************************************
svg.bi.bi-arrow-right-short {
    color: $Accent-fiolet;
}

a.a-view {
    text-decoration: none;
    color: $Accent-fiolet;
    font-weight: normal;
}

/*----(26-10-2020)-New-Fixing----*/
nav.custom-nav-app ul.navbar-nav li > a {
    border-top: 4px solid transparent;
}
nav.custom-nav-app ul.navbar-nav li.active > a {
    border-top: 4px solid #ffffff;
}
nav.custom-nav-app ul.navbar-nav li{
    margin: 0rem 30px;
}
table.custom-table-appfix {
    white-space: nowrap;
    width: 100%;
    background-color: #fff;
}
body{width:100%;}
.custom-studentbtn-popup input.form-control {
    border-color: #eeeeee;
    border-radius: 6px;
    height: 50px;
    line-height: 50px;
}
.custom-studentbtn-popup .input-group-prepend button {
    border-color: #eeeeee;
    margin-right: 15px;
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
.custom-top-button {
    width: auto;
    max-width: 160px;
    border: 1px solid #eeeeee;
    background-color: #f8f9fa;
    margin: 0 15px;
    border-radius: 7px;
}
.custom-top-button:first-child {
    margin-right: 0;
    margin-left:0;
}
table.custom-table-appfix th {
    font-weight: normal;
    color: #717171;
}
.custom-nav-app ul.navbar-nav li a {
    color: #ffffff !important;
}
.calender-date svg {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 10px;
}
.hdr-rt-section svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.jumbotron.classes-jumbotron {
    width: 100%;
    margin: 0 auto !important;
    padding: 10px 25px !important;
}
.hdr-rt-section a.nav-link {
    margin: 0;
    padding: 0;
}
nav.custom-nav-app {
    padding: 0;
}

.btn-light:hover {
    color: #212529;
    background-color:transparent !important; 
    border-color: transparent !important;
}

.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {
    box-shadow: inherit !important;
}
@media screen and (max-width:1199px){
.jumbotron.classes-jumbotron .container {
    max-width: inherit;
}
}
@media screen and (max-width:767px){
.custom-top-button {
    max-width: inherit;
}
nav.custom-nav-app ul.navbar-nav li {
    margin: 0;
}
}
@media screen and (max-width:575px){
    .btn-color-end-div button {
        margin: 5px auto;
    }
    .form-row.justify-content-jumbotron-date {
        margin-bottom: 10px;
    }
    .custom-top-button {
        width:100%;
    }
    nav.custom-nav-app .container {
        padding: 0 15px;
    }
}