$white: #ffffff;
$Accent-blue: #175FFf;
$gris:#f1f1f1;
$Accent-fiolet: #F6A521;
$Logo-gradient: linear-gradient(226.27deg, #EAA675 0%, #EA7D75 100%);
html,
body {
    display: flex;
    flex-direction: column;
    background-color: $gris;
    width: 100vw;
    margin:0px;
    padding: 0 0 0 0;
}

//navbar *************************************************************
.navbar-space-style {
    display: flex;
}

.active-link {
    border-top: blanchedalmond;
    border-top: 4px solid;
}

div#navbarNavAltMarkup.collapse.navbar-collapese {
    align-items: center;
    justify-items: center;
}

a.nav-link {
    text-decoration: none;
    color: $white;
}

// jumbotron classes *************************************************
div.jumbotron.classes-jumbotron {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 0 5px 0;
    margin: 0 40px 0 40px;
}

.items-jumbotron-row-styles {
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}

.justify-content-jumbotron-date {
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    margin: 0 0 0 0;
}

.block-size-style {
    box-sizing: content-box;
    width: 100%;
}

.tabla-jumbotron-class {
    width: fit-content;
}

a.a-jumbotron {
    text-decoration: none;
    color: black;
}

.form-line-bottom {
    border-bottom: #000000 solid 1px;
    border-radius: 1PX;
    object-position: left;
}

.input-styles-search {
    border: none;
}

.btn-jumbotron-import {
    background-color: #34A853;
    border: none;
}

// modal *************************************************************
.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-modal-color {
    background-color: $Accent-fiolet;
    border: none;
}

.btn-color-end-div {
    display: flex;
    justify-content: flex-end;
}

.btn-deletefromclass {
    background-color: #F46565;
    border: none;
}

// card user ***********************************************************
div.card-group.align-items-center {
    padding: 10px 0 10px 0;
}

img.float-left.rounded-circle {
    width: 50px;
    margin: 0 10px 0 0;
}

.img-user-icons {
    display: flex;
    width: 50px;
    padding: 0 10px 0 0;
    border-radius: 5px;
}

.item-user-card {
    display: flex;
    align-items: center;
}

div.card-group.d-flex.usercard-collapse-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.card-styles-items-user {
    padding: 5px 5px 10px 10px;
}
.card-title {
    margin-bottom: 0rem !important;
}
.a-styles-user-card {
    text-decoration: none;
    color: black;
}

// card ****************************************************************
.cards-space-styles {
    padding: 0px 10px 10px 0;
}

/*----(27-10-2020)----*/
nav.custom-nav-app {
    padding: 0;
}
nav.custom-nav-app ul.navbar-nav li{
    margin: 0 30px;
}
.custom-modal-screen div.modal-body h5 {
    text-align: center;
    font-weight: normal;
    line-height: 30px;
}
.modal-delete-student button {
    width: 40%;
    float: left;
    height: 50px;
    line-height: inherit;
}
.jumbotron.classes-jumbotron {
    width: 100%;
    margin: 0 auto !important;
    padding: 10px 25px !important;
}
.hdr-rt-section svg{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.custom-nav-app ul.navbar-nav li a{
    color: #ffffff !important;
}
nav.custom-nav-app ul.navbar-nav li > a {
    border-top: 4px solid transparent;
}
nav.custom-nav-app ul.navbar-nav li.active > a {
    border-top: 4px solid #ffffff;
}
.modal-delete-student button:first-child {
    background: none;
    color: #000;
}
.profile-general {
    width: 300px;
}
.card-style {
    width: 280px;
    margin: 0 10px 10px 0;

}
.container-general {
    margin-left: .2vw;
}
@media screen and (max-width:767px){
    .cards-space-styles {
        margin: 0 0 10px 0;
    }   
    .card-style {
        width: 100%;
        margin-top: 10px;
    }
    .profile-general {
        width: 100%;
    }
    .container-general {
        margin-left: 0vw;
    }
}
@media screen and (max-width:575px){
    .cards-space-styles {
        padding: 10px 10px 0px 0;

    }  
    .card-style {
        width: 100% !important;
        margin: 10px 0 0px 0 !important;
    } 
    .container-general {
        margin-left: 0vw;
    }
    .profile-general {
        width: 100%;
    }
}