$white: #ffffff;
$Accent-blue: #175FFf;
$Accent-fiolet: #F6A521;
$Logo-gradient: linear-gradient(226.27deg, #EAA675 0%, #EA7D75 100%);
html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div.col.rectangle-109-blue {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-content: center;
}

.rectangle-109-blue {
    background: $Accent-blue;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin: 0 0 0 0;
}

div.row.logos-styles-align {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-content: center;
}

.rectangle-109-white {
    background: $white;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 5% 5% 5%;
    width: 100vw;
}

// go to the link on the top *********************************************************
div.row.row-go-to-the-link {
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    align-content: flex-end;
    align-items: center;
}

div.con-go-to-the-link {
    text-align: center;
}

a.btn.btn-link {
    padding: 0 16 0 0;
}

// logo **************************************************
.logo-signin {
    display: wrap;
    height: 239.7px;
    width: 246.29px;
}

img.logo-name-signin {
    display: flex;
    height: 50px;
    margin: 34.44px 0 0 0;
}

// form ********************************************************************
div.row.form-align-styles {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}

.btn-choose-role {
    width: 130%;
    text-align: center;
}

.input-lineal {
    border: none;
}

.form-line-bottom {
    border-bottom: #000000 solid 1px;
    border-radius: 1PX;
    object-position: left;
}

// check box and privacy statement ******************************************
div.custom-control.custom-chec-kbox.checbox-styles {
    display: flex;
    font-size: 6px;
    align-content: flex-end;
    align-items: center;
}

a.btn-link.checkbox-link-styles {
    font-size: 10px;
    padding: 0 3px 0 3px;
}

// button fiolet *************************************************************
div.form-group.align-btn-accent-fiolet {
    display: flex;
    justify-content: flex-end;
}

.btn-accent-fiolet {
    background-color: $Accent-fiolet;
    color: $white;
    align-items: left;
    border-radius: 4px;
}

.align-btn-accent-fiolet {
    position: relative;
}