<nav class="navbar-space-style navbar navbar-expand-lg navbar-dark bg-primary">
    <div>
        <a class="navbar-brand" href="#">
            <img src="assets/img/A-64.png" width="30" height="30" alt="" loading="lazy">
        </a>
    </div>

    <div id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">Classrooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Student Activities</a>
            </li>
        </ul>
    </div>

    <div id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">
                    Administrator
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>
            </li>
            <a class="navbar-brand" href="#">
            </a>
        </ul>
    </div>
</nav>

<body>
    <div class="jumbotron classes-jumbotron">
        <div class="container align-items-center">
            <div class="row">
                <div class="col">
                    <div class="d-flex">
                        <div class="dropdown mr-1 d-flex">
                            <button type="button" class="btn btn-light dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                            Class level
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <div class="dropdown mr-1 d-flex">
                            <button type="button" class="btn btn-light dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                            Classroom
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-end-div">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary right btn-add-class" data-toggle="modal" data-target="#staticBackdrop">
                        Add new class
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Add new class</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Class level</button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                    <div role="separator" class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Separated link</a>
                                                </div>
                                            </div>
                                            <input type="text" aria-label="First name" class="form-control" placeholder="Classroom">
                                        </div>
                                        <div class="form-group form-line-bottom ">
                                            <input type="text " formControlName="fullname " class="form-control input-lineal " placeholder="Teacher full name" />
                                            <div class="invalid-feedback ">
                                                <div>Username is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group form-line-bottom ">
                                            <input type="text " formControlName="username " class="form-control input-lineal " placeholder="Teacher email" />
                                            <div class="invalid-feedback ">
                                                <div>Username is required</div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary btn-modal-color">Add new class</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="compara" role="tabpanel" aria-labelledby="compara-tab">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Class level</th>
                                <th scope="col">Classroom</th>
                                <th scope="col">Number of students</th>
                                <th scope="col">Teacher name</th>
                                <th scope="col">Teacher email</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom">
                                    <a class="a-view" href="">view</a>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom">
                                    <a class="a-view" href="">view</a>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom">
                                    <a class="a-view" href="">view</a>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom">
                                    <a class="a-view" href="">view</a>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom">
                                    <a class="a-view" href="">view</a>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom">
                                    <a class="a-view" href="">view</a>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom">
                                    <a class="a-view" href="">view</a>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom">
                                    <a class="a-view" href="">view</a>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom">
                                    <a class="a-view" href="">view</a>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom">
                                    <a class="a-view" href="">view</a>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>11</td>
                                <td>28</td>
                                <td>Hong Yoo</td>
                                <td>Hong_yoo@gmail.com</td>
                                <td class="view-table-classroom">
                                    <a class="a-view" href="">view</a>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>