<!-- <nav class="navbar-space-style navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo-menu.svg" width="175" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-lg-around" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link active active-link" (click)="gotoTeacherViewClass()" style="cursor:pointer;" routerLinkActive="active-link">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                    </svg> Current class
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="gotoTeacherPastClassList()" style="cursor:pointer;" routerLinkActive="active-link">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8.5 2.687v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                    </svg> Past class
                </a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <a class="nav-link" (click)="gotoSignIn()" style="cursor:pointer;" routerLinkActive="active-link">
                Hong Yoo
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
        </div>
    </div>
</nav> -->
<nav class="navbar-space-style navbar navbar-expand-lg navbar-dark bg-primary custom-nav-app navbar-personal">
    <div class="container">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo-menu.svg" width="175" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse justify-content-lg-around" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link active active-link" (click)="gotoTeacherViewClass()" style="cursor:pointer;" routerLinkActive="active-link">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                    </svg> Current class
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" (click)="gotoTeacherPastClassList()" style="cursor:pointer;" routerLinkActive="active-link">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8.5 2.687v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                    </svg> Past class
                </a>
            </li>
        </ul>
        <div class="my-2 my-lg-0 hdr-rt-section">
            <a class="nav-link" (click)="gotoSignIn()" style="cursor:pointer;">
                Hong Yoo
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
        </div>
    </div>   
</div>
    
</nav>
<body>
    <!-- <div class="jumbotron classes-jumbotron">
        <div class="container">
            <div class="row items-jumbotron-row-styles">
                <div class="col-sm">
                    <h5>
                        <a class="a-jumbotrom">
                            Level 3/Classroom 11
                        </a>
                    </h5>
                </div>
                <div class="col-sm">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search student by name" aria-label="Search">
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <div class="jumbotron classes-jumbotron">
        <div class="container container-general">
            <div class="d-flex align-content-center align-items-center justify-content-center  flex-row flex-wrap">
                <div class="level-classroom">
                    <h5>
                        <a class="a-jumbotrom text-dark" style="cursor:pointer;">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                            </svg> Level 3/Classroom 11
                        </a>
                    </h5>
                </div>
                <div class="form-search d-flex align-content-center align-items-center justify-content-center searchbox">
                    <form class="form-inline  my-2 my-lg-0">
                        <input class="form-control" type="search" placeholder="Search student by name" aria-label="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Student name</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Last activities</th>
                        <th scope="col">Date last activities</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Wan Song</td>
                        <td>+82 51 441-99-04</td>
                        <td>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journals" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z"/>
                                <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                            </svg> Library - Central City Library
                        </td>
                        <td>2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view" href="">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td>Wan Song</td>
                        <td>+82 51 441-99-04</td>
                        <td>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journals" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z"/>
                                <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                            </svg> Library - Central City Library
                        </td>
                        <td>2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view" href="">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td>Wan Song</td>
                        <td>+82 51 441-99-04</td>
                        <td>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journals" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z"/>
                                <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                            </svg> Library - Central City Library
                        </td>
                        <td>2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view" href="">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td>Wan Song</td>
                        <td>+82 51 441-99-04</td>
                        <td>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journals" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z"/>
                                <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                            </svg> Library - Central City Library
                        </td>
                        <td>2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view" href="">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td>Wan Song</td>
                        <td>+82 51 441-99-04</td>
                        <td>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journals" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z"/>
                                <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                            </svg> Library - Central City Library
                        </td>
                        <td>2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view" href="">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td>Wan Song</td>
                        <td>+82 51 441-99-04</td>
                        <td>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journals" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z"/>
                                <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                            </svg> Library - Central City Library
                        </td>
                        <td>2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view" href="">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td>Wan Song</td>
                        <td>+82 51 441-99-04</td>
                        <td>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journals" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z"/>
                                <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                            </svg> Library - Central City Library
                        </td>
                        <td>2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view" href="">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td>Wan Song</td>
                        <td>+82 51 441-99-04</td>
                        <td>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journals" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z"/>
                                <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                            </svg> Library - Central City Library
                        </td>
                        <td>2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view" href="">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td>Wan Song</td>
                        <td>+82 51 441-99-04</td>
                        <td>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journals" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z"/>
                                <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                            </svg> Library - Central City Library
                        </td>
                        <td>2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view" href="">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
    <div class="container d-flex align-items-center align-content-center justify-content-center flex-row ">
        <!-- <div class="table-responsive " style="margin-bottom: 1rem !important;">
            <table class="table custom-table-appfix mb-4">
                <thead>
                    <tr>
                        <th scope="col d-flex" style="text-align: center !important;">Student name</th>
                        <th scope="col" style="text-align: center !important;">Phone Number</th>
                        <th scope="col">Last activities</th>
                        <th scope="col">Date last activities</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt="">
                            Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <div class="table-responsive">
            <table class="table general-table" >
                <thead>
                    <tr>
                        <th class="font-weight-normal" scope="col d-flex" style="text-align: center !important;">Student name</th>
                        <th class="font-weight-normal" scope="col" style="text-align: center !important;">Phone Number</th>
                        <th class="font-weight-normal" scope="col">Last activities</th>
                        <th class="font-weight-normal" scope="col">Date last activities</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center text-dark ">
                            <a class="font-weight-bold  a-view-student" style="cursor:pointer;">Wang Song</a>
                        </td>
                        <td  class="font-weight-bold text-center">+82 51 441-99-04</td>
                        <td  class="font-weight-bold custom-icon-bg">
                            <img src="assets/img/library.svg" alt=""> Library - Central City Library
                        </td>
                        <td  class="font-weight-bold">2020/09/01</td>
                        <td class="view-table-classroom">
                            <a class="a-view " style="cursor:pointer;">view</a>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</body>