$white: #ffffff;
$Accent-blue: #175FFf;
$Accent-fiolet: #F6A521;
$gris: #f1f1f1;
$Logo-gradient: linear-gradient(226.27deg, #EAA675 0%, #EA7D75 100%);
html,
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: $gris;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

//navbar *************************************************************
.navbar-space-style {
    display: flex;
}

.active-link {
    border-top: blanchedalmond;
    border-top: 4px solid;
}

div#navbarNavAltMarkup.collapse.navbar-collapese {
    align-items: center;
    justify-items: center;
}

a.nav-link {
    text-decoration: none;
    color: $white;
}

// jumbotron classes *************************************************
div.jumbotron.classes-jumbotron {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 0;
}

.items-jumbotron-row-styles {
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}

.justify-content-jumbotron-date {
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    margin: 0 0 0 0;
}

.block-size-style {
    box-sizing: content-box;
    width: 100%;
}

.tabla-jumbotron-class {
    width: fit-content;
}

a.a-jumbotron {
    text-decoration: none;
    color: black;
}

.form-line-bottom {
    border-bottom: #000000 solid 1px;
    border-radius: 1PX;
    object-position: left;
}

.input-styles-search {
    border: none;
}

.btn-jumbotron-import {
    background-color: #34A853;
    border: none;
}

// modal *************************************************************
.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-modal-color {
    background-color: $Accent-fiolet;
    border: none;
}

.btn-add-class {
    background-color: #f6a521;
    border: none;
}

// clases user card *****************************************************
.card-styles-items-user {
    padding: 5px 5px 10px 10px;
}

.a-styles-user-card {
    text-decoration: none;
    color: black;
}

// tabla clases ***********************************************************
svg.bi.bi-arrow-right-short {
    color: $Accent-fiolet;
}

a.a-view {
    text-decoration: none;
    color: $Accent-fiolet;
    font-weight: normal;
}

a.a-view-student {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-weight: normal;
}
.jumbotron.classes-jumbotron {
    width: 100%;
    margin: 0 auto !important;
    padding: 10px 25px !important;
}
.hdr-rt-section a.nav-link {
    margin: 0;
    padding: 0;
}
/*----(26-10-2020)-New-Fixing----*/
nav.custom-nav-app ul.navbar-nav li > a {
    border-top: 4px solid transparent;
}
nav.custom-nav-app ul.navbar-nav li.active > a {
    border-top: 4px solid #ffffff;
}
nav.custom-nav-app ul.navbar-nav li{
    margin:0 30px;
}
table.custom-table-appfix {
    white-space: nowrap;
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
}
body{width:100%;}
table.custom-table-appfix th {
    font-weight: normal;
    color: #717171;
}
.custom-nav-app ul.navbar-nav li a {
    color: #ffffff !important;
}
table.custom-table-appfix td.custom-icon-bg svg {
    background: #6298FA;
    width: 26px;
    height: 26px;
    padding: 5px;
    border-radius: 4px;
}
.hdr-rt-section svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
nav.custom-nav-app {
    padding: 0;
}
.jumbotron.classes-jumbotron form.form-inline input {
    border-bottom: 2px solid #eeeeee;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.jumbotron.classes-jumbotron .col-sm {
    padding: 0;
}
.calender-date input.form-control {
    padding-left: 25px;
    font-size:12px;
}
.calender-date svg {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 10px;
}
.searchbox form img {
    width: 16px;
    position: absolute;
}
.searchbox form input {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 0;
    margin: 0;
}
@media screen and (max-width:1199px){
    .jumbotron.classes-jumbotron .container {
        max-width: inherit;
    }
}
@media screen and (max-width:767px){
    nav.custom-nav-app ul.navbar-nav li {
        margin: 0;
    }
    .calender-date > div {
        float: left;
        width: 20%;
    }
}
@media screen and (max-width:575px){
    .btn-color-end-div button {
        margin: 5px auto;
    }
    .form-row.justify-content-jumbotron-date {
        margin-bottom: 10px;
    }
    nav.custom-nav-app .container {
        padding: 0 15px;
    }
}