<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col rectangle-109-blue">
                <div class="container">
                    <div class="row logos-styles-align">
                        <img src="./assets/img/edubloc_name.sgv" class="logo-signin">
                    </div>
                    <div class="row logos-styles-align">
                        <img [src]="'/src'" class="logo-name-signin">
                    </div>
                </div>
            </div>
            <div class="col rectangle-109-white">
                <div class="container">
                    <div class="row row-go-to-the-link">
                        <p>Back to?<a class="btn btn-link " [routerLink]="[ 'signin'] ">Sign In</a></p>
                    </div>
                    <div class="row form-align-styles">
                        <form>
                            <h1>Reset Password</h1>
                            <br>
                            <div class="form-group form-line-bottom ">
                                <label for="Your Email ">Email</label>
                                <input type="text " formControlName="username " class="form-control input-lineal " placeholder="Your Email" />
                                <div class="invalid-feedback ">
                                    <div>Username is required</div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group align-btn-accent-fiolet ">
                                <button class="btn btn-accent-fiolet ">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>