<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col rectangle-109-blue">
                <div class="container">
                    <div class="row logos-styles-align">
                        <img src="./assets/img/logo-cuadro.svg" class="logo-signin">
                    </div>
                    <div class="row logos-styles-align">
                        <img src="./assets/img/edubloc_name.svg" class="logo-name-signin">
                    </div>
                </div>
            </div>
            <div class="col rectangle-109-white">
                <div class="container">
                    <div class="row row-go-to-the-link">
                        <p>Don't have an account?<a class="btn btn-link " (click)="gotoSignUp()" style="cursor:pointer;" [routerLink]="['sign-up']">Sign Up</a></p>
                    </div>
                    <div class="row form-align-styles">
                        <form>
                            <h1>Sign In</h1>
                            <br>
                            <div class="form-group form-line-bottom">
                                <label for="Your Email">Email</label>
                                <input type="text" formControlName="username" class="form-control input-lineal" placeholder="Your Email" />
                                <div class="invalid-feedback">
                                    <div>Username is required</div>
                                </div>
                            </div>
                            <div class="form-group form-line-bottom">
                                <label for="password">Password</label>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <input type="password" formControlName="password" class="form-control input-lineal" placeholder="*******************" />
                                        <div class="invalid-feedback">
                                            <div>Password is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <a class="btn btn-link" (click)="gotoResetPassword()" style="cursor:pointer;">Forgot password?</a>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group align-btn-accent-fiolet ">
                                <button class="btn btn-accent-fiolet " (click)="signIn();">
                                    Sign In
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>