$white: #ffffff;
$Accent-blue: #175FFf;
$Accent-fiolet: #F6A521;
$Logo-gradient: linear-gradient(226.27deg, #EAA675 0%, #EA7D75 100%);
html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

//navbar *************************************************************
.navbar-space-style {
    display: flex;
}

.active-link {
    border-top: blanchedalmond;
    border-top: 4px solid;
}

div#navbarNavAltMarkup.collapse.navbar-collapese {
    align-items: center;
    justify-items: center;
}

a.nav-link {
    text-decoration: none;
    color: $white;
}

// jumbotron classes *************************************************
div.jumbotron.classes-jumbotron {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 0 5px 0;
    margin: 0 40px 0 40px;
}

.items-jumbotron-row-styles {
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}

.justify-content-jumbotron-date {
    display: flex;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    margin: 0 0 0 0;
}

.block-size-style {
    box-sizing: content-box;
    width: 100%;
}

.tabla-jumbotron-class {
    width: fit-content;
}

a.a-jumbotron {
    text-decoration: none;
    color: black;
}

.form-line-bottom {
    border-bottom: #000000 solid 1px;
    border-radius: 1PX;
    object-position: left;
}

.input-styles-search {
    border: none;
}

.btn-jumbotron-import {
    background-color: #34A853;
    border: none;
}

// modal *************************************************************
.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-modal-color {
    background-color: $Accent-fiolet;
    border: none;
}

.btn-add-class {
    background-color: #f6a521;
    border: none;
}

// tabla clases ***********************************************************
svg.bi.bi-arrow-right-short {
    color: $Accent-fiolet;
}

a.a-view {
    text-decoration: none;
    color: $Accent-fiolet;
    font-weight: normal;
}