html,
body {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

//navbar
.navbar-space-style {
    display: flex;
    justify-content: space-around;
}

div.jumbotron.classes-jumbotron {
    background-color: #ffffff;
    height: 76px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 0 0 0;
    margin: 0 40px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// 
.col-end-div {
    display: flex;
    justify-content: flex-end;
}

.btn-add-class {
    background-color: #f6a521;
    border: none;
}