<nav class="navbar-space-style navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo-menu.svg" width="175" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNavAltMarkup">
        <div>
            <a class="nav-link" (click)="gotoSignIn()" style="cursor:pointer;">
                Joy Song
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
        </div>
    </div>
</nav>

<body>
    <div class="jumbotron classes-jumbotron">
        <div class="container">
            <div class="row items-jumbotron-row-styles">
                <div class="col-sm">
                    <div class="dropdown mr-1 d-flex">
                        <button type="button" class="btn btn-light dropdown-toggle block-size-style" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                            Activities
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-row justify-content-jumbotron-date">
                        <div class="form-group col col-md-4 justify-content-jumbotron-date">
                            <p class="justify-content-jumbotron-date">From</p>
                        </div>
                        <div class="form-group col justify-content-jumbotron-date">
                            <input class="form-control mr-sm-2" type="search" placeholder="Date" aria-label="Search">
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-row justify-content-jumbotron-date">
                        <div class="form-group col col-md-4 justify-content-jumbotron-date">
                            <p class="justify-content-jumbotron-date">To</p>
                        </div>
                        <div class="form-group col justify-content-jumbotron-date">
                            <input class="form-control mr-sm-2" type="search" placeholder="Date" aria-label="Search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container d-flex">
        <div class="row">
            <div class="col-sm-4">
                <div class="card d-flex">
                    <div class="card-group align-items-center">
                        <div class="card-body">
                            <img src="https://placeimg.com/300/230/nature" class="float-left rounded-circle">
                            <h5 class="card-title">Wang Song</h5>
                        </div>
                    </div>
                    <div class="card-group d-flex usercard-collapse-1">
                        <div class="card-group d-flex card-styles-items-user">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <img src="https://placeimg.com/300/230/nature" class="float-left img-user-icons">
                                            <a class="a-styles-user-card" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                            Introduction</a>
                                        </h5>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="card-body">
                                            <h5 class="card-title">Personal Information</h5>
                                            <p class="card-text">Wan Song, 17 year</p>
                                            <p class="card-text">+82 51 441-99-04</p>
                                            <p class="card-text">wansong@gmail.com</p>
                                            <p class="card-text">Seul</p>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Brand Statement</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quasi esse blanditiis libero tempora reiciendis excepturi ipsam quas, itaque quia natus iure fugiat in? Voluptatum hic eaque ipsum aut blanditiis?</p>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Goals for the current year</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quasi esse blanditiis libero tempora reiciendis excepturi ipsam quas, itaque quia natus iure fugiat in? Voluptatum hic eaque ipsum aut blanditiis?</p>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">My Strengths / Weakness</h5>
                                            <h6 class="card-subtitle">Strengths</h6>
                                            <p class="card-text">Attentive, porposeful, intelligent</p>
                                            <h6 class="card-subtitle">Weakness</h6>
                                            <p class="card-text">Lazy, passive</p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <img src="https://placeimg.com/300/230/nature" class="float-left img-user-icons">
                                            <a class="a-styles-user-card" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                            Learning History</a>
                                        </h5>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="card-body">
                                            <h5 class="card-title">Career Goal Setting</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quasi esse blanditiis libero tempora reiciendis excepturi ipsam quas, itaque quia natus iure fugiat in? Voluptatum hic eaque ipsum aut blanditiis?</p>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Comprenhensive School Life Record Book</h5>
                                            <h6 class="card-subtitle">Bookname.pdf</h6>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Interest</h5>
                                            <h6 class="card-subtitle">Programming, Basketbol</h6>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Favorite Schools</h5>
                                            <p class="card-text">Example Schoole Name</p>
                                            <p class="card-text">Example Schoole Name</p>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">School Awwards</h5>
                                            <div>
                                                <img src="https://placeimg.com/300/230/nature" class="float-left img-user-icons">
                                            </div>
                                            <div>
                                                <h6 class="card-subtitle">Example Awward Name</h6>
                                                <p class="card-text">2018/02/22</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <img src="https://placeimg.com/300/230/nature" class="float-left img-user-icons">
                                            <a class="a-styles-user-card" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                            Leraning Outcomes</a>
                                        </h5>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="card-body">
                                            <h5 class="card-title">Activities</h5>
                                            <h6 class="card-subtitle">Volunteering</h6>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Certifications</h5>
                                            <h6 class="card-subtitle">Example certification name</h6>
                                            <p class="card-text">ID 1233243241242t</p>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Internships</h5>
                                            <h6 class="card-subtitle">Example organization name</h6>
                                            <p class="card-text">Example position</p>
                                            <p class="card-text">2019/06/01 - 2019/09/30</p>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Portfolio</h5>
                                            <div class="col">
                                                <img src="https://placeimg.com/300/230/nature" class="float-left">
                                            </div>
                                            <div class="col">
                                                <h6 class="card-subtitle">Example Project Name</h6>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quasi esse blanditiis libero tempora reiciendis excepturi ipsam qua</p>
                                                <br>
                                                <p class="card-text">Skills: HTML, CSSS, Java</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container d-flex">
                    <div class="row">
                        <div class="col col-6 cards-space-styles">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://placeimg.com/300/230/nature" class="float-left img-user-icons">
                                    <h5 class="card-title">Nursing home - Warm heart</h5>
                                    <br>
                                    <h5 class="card-title">Address</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                    <h5 class="card-title">Activity Timeline</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col col-6 cards-space-styles">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://placeimg.com/300/230/nature" class="float-left img-user-icons">
                                    <h5 class="card-title">Nursing home - Warm heart</h5>
                                    <br>
                                    <h5 class="card-title">Address</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                    <h5 class="card-title">Activity Timeline</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-6 cards-space-styles">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://placeimg.com/300/230/nature" class="float-left img-user-icons">
                                    <h5 class="card-title">Nursing home - Warm heart</h5>
                                    <br>
                                    <h5 class="card-title">Address</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                    <h5 class="card-title">Activity Timeline</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-6 cards-space-styles">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://placeimg.com/300/230/nature" class="float-left img-user-icons">
                                    <h5 class="card-title">Nursing home - Warm heart</h5>
                                    <br>
                                    <h5 class="card-title">Address</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                    <h5 class="card-title">Activity Timeline</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-6 cards-space-styles">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://placeimg.com/300/230/nature" class="float-left img-user-icons">
                                    <h5 class="card-title">Nursing home - Warm heart</h5>
                                    <br>
                                    <h5 class="card-title">Address</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                    <h5 class="card-title">Activity Timeline</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-6 cards-space-styles">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://placeimg.com/300/230/nature" class="float-left img-user-icons">
                                    <h5 class="card-title">Nursing home - Warm heart</h5>
                                    <br>
                                    <h5 class="card-title">Address</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                    <h5 class="card-title">Activity Timeline</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-6 cards-space-styles">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://placeimg.com/300/230/nature" class="float-left img-user-icons">
                                    <h5 class="card-title">Nursing home - Warm heart</h5>
                                    <br>
                                    <h5 class="card-title">Address</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                    <h5 class="card-title">Activity Timeline</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                </div>
                            </div>
                        </div>
                        <div class="col col-6 cards-space-styles">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://placeimg.com/300/230/nature" class="float-left img-user-icons">
                                    <h5 class="card-title">Nursing home - Warm heart</h5>
                                    <br>
                                    <h5 class="card-title">Address</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                    <h5 class="card-title">Activity Timeline</h5>
                                    <p class="card-text">110, Sejong-daero,Jung-gu,<br>Seoul 045224 South Korea</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>